body {
	font-family: Times New Roman;
	color: #333;
	background: #fff; 
	font-size: 1em;
	line-height: 1.5em;
	
	 /* Relleno superior igual a la altura de la cabecera*/
}


h1 {
	color: #fff;
	text-align: center;
}

/*Estilos de la galeria*/

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
	width: 250px;
	height: 250px;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {
	
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.modal p {
	font-family: Times New Roman;
	color: #fff;
	font-size: 30px;
	line-height: 1.5em;
	text-align: center;
}

.imagen {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen a {
	color: #fff;
	font-size: 100px;
	text-decoration: none;
	margin: 0 10px;
}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen img {
	width: 600px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.cerrar {
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}
.izquierda {
  width: 50px;
  height: 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 75px solid #ff6a00;
}
.derecha {
  width: 50px;
  height: 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 75px solid #ff6a00;
}

#main-content {
	background: #fff;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}
	
#main-footer {
	background: #ff6a00;
	color: white;
	text-align: center;
}
	#main-footer p {
	font-family: Times New Roman;
	color: #333;
	}
	
	#main-footer a {
		color: white;
	}

